# De Lijn API Key
# Obtiens ta cle gratuite sur https://data.delijn.be/
# 1. Cree un compte
# 2. Souscris aux produits "DLKernOpenData" et "DLZoekOpenData"
# 3. Copie ta cle de souscription ici
DELIJN_API_KEY=your_api_key_here
PORT=3001
